<figure class="media">
  <div class="media__frame" [class.media__frame--image]="src()" [style.aspect-ratio]="ratio()">
    @if (src()) {
      <img class="media__image" [src]="src()" [alt]="label()" loading="lazy" />
    } @else {
      <div class="media__inner">
        <p class="t-label">{{ label() }}</p>
        @if (note()) {
          <p class="media__note">{{ note() }}</p>
        }
      </div>
    }
  </div>
  @if (caption()) {
    <figcaption class="t-caption">{{ caption() }}</figcaption>
  }
</figure>
